<html>
<head>
	<title>Sputnik: Authentication</title>
</head>
<link href="/css/index.css" rel="stylesheet" type="text/css" />
<link href="/css/auth.css" rel="stylesheet" type="text/css" />
<body>
	<div id="background">
		<div id="panel-box">
			<div class="panel">
				<div class="auth-form on" id="login">
					<div id="form-title">Sign In</div>
					<p style="color: red;">${input.message}</p>
					<form action="/login" method="POST">
						<input name="username" type="email" id = "SignInUsername" onkeyup = "validateSignIn()" required placeholder="email"/>
						<input name="password" type="password" minlength="6" id = "SignInPassword" onkeyup = "validateSignIn()" required placeholder="Password"/>
						<button id = "ButtonSignIn" type="Submit" disabled>Sign In</button>
						<div id = "SignInError"></div>
					</form>
				</div>
				<div class="auth-form" id="signup">
					<div id="form-title">Register</div>
					<form action="/register" id = "myform" method="POST">
						<input name="username" type="email" id = "SignUpUsername" onkeyup = "validateSignUp()" required placeholder="email"/>
						<div class="center password">
							<input class="password-field" minlength="6" name="password" id = "SignUpPassword" onkeyup = "validateSignUp()" type="password" required placeholder="Password"/>
							<div class="password-validate"></div>
						</div>
						<button id = "ButtonSignUp" type = "Submit" disabled>SignUp</button>
						<p id="password-note">Password must be at least 6 character longs, and consist of a digit and an uppercase letter.</p>
						<!-- <div id = "SignUpError"></div> -->
					</form>
				</div>
			</div>
			<div class="panel">
				<div id="switch">Sign Up</div>
				<div id="image-overlay"></div>
				<div id="image-side"></div>
			</div>
		</div>
	</div>
</body>
<script src="/js/validations.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/auth.js"></script>
</html>
