<html>
<head>
    <title>Dashboard Page</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <ul class="navbar">
        <div class="container">
            <li class="navitem brand"><a href="/">Sputniks</a></li>
            <li class="navitem"><a href="/">About</a></li>
            <li class="navitem"><a href="/authentication">Sign In</a></li>
        </div>
    </ul>

    <div class="container">
        <script src="js/bubble_chart.js"></script>
    </div>

</body>
</html>
