<html>
<head>
    <title>Dashboard</title>
    <link href="/css/dashboard.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="dashboard-wrapper">
   <div class="filters-bar">
      <div class="title-wrapper"><i class="icon" data-feather="sliders"></i> Filter Options</div>
   </div>
   <div class="flex-container">
      <div class="flex-item">
         <div class="card" id="map-card">Map Card</div>
      </div>
      <div class="flex-item">
         <div class="card" id="chart-med">Chart 1 Card</div>
         <div class="card" id="chart-med">Chart 2 Card</div>
      </div>
      <div class="flex-item">
         <div class="card" id="chart-med">Chart 3 Card</div>
         <div class="card" id="chart-small">Chart 4 Card</div>
      </div>
   </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src="js/dashboard_main.js"></script>
</body>
</html>
