<html>
<head>
    <title>Dashboard Page</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:#AE94DE;">
    <ul class="navbar">
        <div class="container">
            <li class="navitem brand"><a href="/">Sputniks</a></li>
            <li class="navitem"><a href="/">About</a></li>
            <li class="navitem"><a href="/logout">Sign Out</a></li>
        </div>
    </ul>

    <div class="container bubble-chart">
        <div class="column">
            <div class="column-content"></div>
        </div>
        <div class="column">
            <div class="column-content">
            </div>
            <p class="column-label"> Total Restuarant Insight for city ${input.city}</p>
        </div>
    </div>
    <include-html('./map.marko')/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script src="js/bubble_chart.js"></script>
</body>
</html>
