<html>
<head>
    <title>Dashboard Page</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
</head>
<body class="dashboard-bg">
  <div class="custom-dialog"></div>
    <ul class="navbar">
        <div class="container">
            <li class="navitem brand"><a href="/">Sputniks</a></li>
            <li>
                <div class="dropdown"><img class="dropdown" src="./src/images/img_avatar.png" alt="Avatar">
                    <div class="dropdown-content">
                        <a href="/friends">Friends</a>
                        <a href="/details">Edit Details</a>
                        <a href="/logout">Sign Out</a>
                    </div>
                </div>
            </li>
            <li class="navitem"><a href="/about">About</a></li>
        </div>
    </ul>
    <div class="button-row">
        <button class="map-button selected">Map</button>
        <button class="bubble-button">Bubble chart</button>
        <button class="game-button">Play Game</button>
        <button class="food-preference-button">Choose your food preferences</button>
    </div>

    <div class="bubble-chart right-panel">
        <div class="column">
            <div class="column-content">
            </div>
            <p class="column-label"> Total Restuarant Insight for city ${input.city}</p>
        </div>
    </div>

    <div class="map-container center-panel"><include-html('./map.marko')/></div>

    <div class="game-panel game-right">
        <button class="game-button play-button" onclick="startGame()">Start Game</button>
        <canvas id="game" width="800px" height="500px"></canvas>
    </div>
    <div class="food-preference-panel right-panel">
        <div id="content">
          <div id="selectionPile"></div>
          <div id="selectionSlots"></div>


        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script src="js/bubble_chart.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/game.js"></script>

</body>
</html>
