<html>
<head>
   <title>Dashboard</title>
   <link href="/css/dashboard.css" rel="stylesheet" type="text/css" />
   <link href="/css/stacked_bar.css" rel="stylesheet" type="text/css" />
   <link href="/css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
   <!-- navigation bar -->
   <ul class="navbar">
      <div class="container">
         <li class="navitem brand"><a href="/">Sputniks</a></li>
         <li>
            <div class="dropdown"><img class="dropdown" src="./src/images/img_avatar.png" alt="Avatar">
               <div class="dropdown-content">
                  <a href="/details">Edit Details</a>
                  <a href="/logout">Sign Out</a>
               </div>
            </div>
         </li>
         <li class="navitem"><a href="/about">About</a></li>
      </div>
   </ul>

   <!-- Dashboard -->
   <div class="dashboard-wrapper">
      <div class="filters-bar">
         <div class="title-wrapper"><i class="icon" data-feather="sliders"></i> Filter Options</div>
         <!-- City -->
         <div>
            <select id="state">
               <option value="0">Select State:</option>
               <for|state| of=input.states>
               <option value="${state}">${state}</option>
            </for>
         </select>
      </div>

      <div>
         <select id="cities">
            <option value="0">Select City:</option>
         </select>
      </div>

   </div>
   <div class="flex-container">
      <div class="flex-item">
         <div class="card" id="map-card">
            <div id="map"></div>
         </div>
      </div>
      <div class="flex-item">
         <div class="card chart-med">
            <div id="chart-bubble"></div>
         </div>

         <div class="card chart-med">
            <div class="chart-price-container" id="chart-price">
               <div id="chart-price-body"></div>
               <div class="legend">
                  <ul>
                     <li class="one">$</li>
                     <li class="two">$$</li>
                     <li class="three">$$$</li>
                     <li class="four">$$$$</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="flex-item">
         <div class="card chart-med">Chart 3 Card</div>
         <div class="card chart-small"><div  id="chart-wifi"></div></div>
      </div>
   </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzGa6kea5GkeVEBjPTEUMq2bwz_X0MoNA&callback=initMap" async defer></script>
<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<script src="js/bubble_chart.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="js/wifi_chart.js"></script>
<script type="text/javascript" src="js/map_chart.js"></script>
<script src="js/stacked_bar.js"></script>
<script src="js/dashboard_main.js"></script>
</body>
</html>
