<html>
<head>
</head>
<link href="/css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<body>
    <div id="background">
        <div id="panel-box">
            <form class="form" action="/dashboard" method="POST">
                <label class="modal-label" for="firstname">First Name</label>
                <input class="modal-input" id = "firstname" name="firstname" type="text" required="required" placeholder="First Name"/>
                <label class="modal-label" for="lastname">First Name</label>
                <input class="modal-input" id = "lastname" name="lastname" type="text" required="required" placeholder="Last Name"/>
                <label class="modal-label" for="city">City</label>
                <input class="modal-input" id = "city" name="city" type="text" required="required" placeholder="City"/>
                <label class="modal-label" for="state">State</label>
                <input class="modal-input" id="state" name="state" type="text" required="required" placeholder="State"/>
                <label class="modal-label" for="zip">ZipCode</label>
                <input class="modal-input" id="zip" name="zip" type="number" onkeyup = "validateZip()" required="required" placeholder="ZipCode"/>
                <div id = "zipCodeError"></div>
                <label class="modal-label" >Your food choice?</label>
                <input class="custom-cbox" onclick = "checkCheckBox()" type="checkbox" name="food" value="Indian"> <div class="cbox-label">Indian</div>
                <input class="custom-cbox" onclick = "checkCheckBox()" type="checkbox" name="food" value="Mexican">  <div class="cbox-label">Mexican</div>
                <input class="custom-cbox" onclick = "checkCheckBox()" type="checkbox" name="food" value="Italian"> <div class="cbox-label">Italian</div>
                <input class="custom-cbox" onclick = "checkCheckBox()" type="checkbox" name="food" value="Thai">  <div class="cbox-label">Thai</div>
                <input class="custom-cbox" onclick = "checkCheckBox()" type="checkbox" name="food" value="German"> <div class="cbox-label">German</div>
                <input class="custom-cbox" onclick = "checkCheckBox()" type="checkbox" name="food" value="Canadian">  <div class="cbox-label">Canadian</div>
                <input class="custom-cbox" onclick = "checkCheckBox()" type="checkbox" name="food" value="Hungarian">  <div class="cbox-label">Hungarian</div>
                <div id = "checkBoxError"></div>
                <label class="modal-label">Receive Notification?</label>
                <input type="radio" name="notification" value="yes" checked="" > <div class="cbox-label">Yes</div>
                <input type="radio" name="notification" value="no"><div class="cbox-label"> No</div>
                <label class="modal-label" >Upload Profile Picture</label>
                <input type="file" id="avatar" name="avatar" accept="image/*">
                <button class="button-form" id = "detailSubmit" type="Submit" disabled>Submit Details</button>
            </form>
            <div class="container">
                <script src="js/details.js"></script>
            </div>
        </div>
    </div>
</body>
<script src="/js/validations.js"></script>
</html>
