<html>
<head>
</head>
<link href="/css/index.css" rel="stylesheet" type="text/css" />
<link href="/css/auth.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<body>
    <div class="modal">
        <div class="modal-content">
            <form class="modal-form" action="/dashboard" method="POST">
                <label class="modal-label" for="city">City</label>
                <input class="modal-input" id = "city" name="city" type="text" required="required" placeholder="City"/>
                <label class="modal-label" for="state">State</label>
                <input class="modal-input" id="state" name="state" type="text" required="required" placeholder="State"/>
                <label class="modal-label" for="zip">ZipCode</label>
                <input class="modal-input" id="zip" name="zip" type="number" required="required" placeholder="ZipCode"/>
                    <label class="modal-label">Your food choice?</label>
                    <input type="checkbox" name="Indian" value="Indian"> Indian
                    <input type="checkbox" name="Mexican" value="Mexican">  Mexican
                    <input type="checkbox" name="Italian" value="Italian"> Italian
                    <input type="checkbox" name="Thai" value="Thai">  Thai
                    <input type="checkbox" name="German" value="German"> German
                    <input type="checkbox" name="Canadian" value="Canadian">  Canadian
                    <input type="checkbox" name="Hungarian" value="Hungarian">  Hungarian

                    <label class="modal-label">Receive Notification?</label>
                    <input type="radio" name="notification" value="yes" checked=""> Yes
                    <input type="radio" name="notification" value="no"> No

                <button class="button-form" type="Submit">Submit Details</button>
            </form>
                <div class="container">
                    <script src="js/details.js"></script>
                </div>
        </div>
    </div>
</body>
</html>
