<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
</head>
<link href="/css/index.css" rel="stylesheet" type="text/css" />
<link href="/css/auth.css" rel="stylesheet" type="text/css" />
<link href="/css/friends.css" rel="stylesheet" type="text/css" />
<body>
  <div id="background" class="two">
    <div id="panel-box">
      <div class="friends-title">Friends</div>
      <button class="save-friends">Save</button>
      <div class="list-wrap">
        <for(user in input.users)>
        <div class="user-element group" id='${user.user_id}'>
          <div class="col span_1_of_4">
            <strong>Name</strong><br>
            ${user.name}
          </div>
          <div class="col span_1_of_4">
            <strong>Reviews</strong><br>
            ${user.reviews}
          </div>
          <div class="col span_1_of_4">
            <strong>Friends</strong><br>
            ${user.friends}
          </div>
          <div class="col span_1_of_4">
            <strong>Stars</strong><br>
            ${user.stars}
          </div>
        </div>
      </for>
    </div>
  </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/friends.js"></script>
</html>
