<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sputniks</title>
  <link href="/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1>Hello World ${input.name}</h1>
  <form action="http://localhost:3000/authentication" method="get">
    <button type="submit">Log In</button>
  </form>
  <script src="js/scripts.js"></script>
</body>
</html>
