<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sputniks</title>
  <link href="/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body onload="draw()">
  <ul class="navbar">
    <div class="container">
      <li class="navitem brand"><a href="/">Sputniks</a></li>
      <li class="navitem"><a href="/login">Login</a></li>
      <li class="navitem"><a href="/">About</a></li>
    </div>
  </ul>

  <div>
    <canvas style="position:relative" id="header_animation" width="1440px" height="500px"></canvas>
      <!--<h1>Yelp Data Visualization</h1>-->
      <!--<p>Visualize Yelp big data and gain faster business insights</p>-->
      <!--<a href = "/dashboard" class="cust-button">Get Started</a>-->
  </div>
  <script src="js/header_animation.js"></script>
</body>
</html>
