<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sputniks</title>
  <link href="/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body onload="draw()">
<p style="color: red;">${input.message}</p>
  <ul class="navbar">
    <div class="container">
      <li class="navitem brand"><a href="/">Sputniks</a></li>
      <if(input.logged)>
        <li class="navitem"><a href="/logout">Log out</a></li>
        <li class="navitem"><a href="/dashboard">Dashboard</a></li>
      </if>
      <else>
        <li class="navitem"><a href="/login">Login/Register</a></li>
      </else>
      <li class="navitem"><a href="/about">About</a></li>
    </div>
  </ul>

  <div>
    <canvas style="position:relative" id="header_animation" width="1440px" height="760px"></canvas>
      <!--<h1>Yelp Data Visualization</h1>-->
      <!--<p></p>-->
      <!--<a href = "/dashboard" class="cust-button">Get Started</a>-->
  </div>
  <script src="js/header_animation.js"></script>
</body>
</html>
