<html>
<head>
  <title>Login</title>
</head>
<body>
  <if(input.message)>
  <h4> ${input.message} </h4>
  <form action="/login" method="POST">
    <input name="username" type="text" required="required" placeholder="username"/>
    <input name="password" type="password" required="required" placeholder="password"/>
    <button type="Submit">Log in</button>
  </form>
</if>
</body>
</html>
