<html>
<head>
  <title>Registration</title>
</head>
<body>
  <if(input.message)>
  <h4>${input.message}</h4>
  <form action="/register" method="POST">
    <input name="username" type="text" required="required" placeholder="username"/>
    <input name="password" type="password" required="required" placeholder="password"/>
    <button type="Submit">Sign Up</button>
    <p id = "error"></p>
  </form>
</if>
<script src="validations.js"></script>
</body>
</html>
